
air pollution/specdata/

getting_and_cleaning_data/\.RData

getting_and_cleaning_data/\.Rhistory

getting_and_cleaning_data/activity_accelerometers/UCI HAR Dataset/

getting_and_cleaning_data/activity_accelerometers/getdata_projectfiles_UCI HAR Dataset\.zip

rprog_data_ProgAssignment3-data/

rprog_data_ProgAssignment3-data\.zip

\.RData

\.Rhistory

getting_and_cleaning_data/activity_accelerometers/accelerometer_activity_mean\.txt

reproducible_research/impact_weather_events_cache/

reproducible_research/impact_weather_events_files/
